.flexblocks-section {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    flex-wrap: var(--flex-wrap);
    gap: var(--gap);
    min-height: var(--min-height);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    z-index: var(--z-index);
    overflow: var(--overflow);
    box-sizing: border-box;
    position: relative;
}
