.wp-dsgn-column {
    position: relative;
    box-sizing: border-box;
    
    // Flex properties
    width: var(--wp-dsgn-width, 100%);
    flex-grow: var(--wp-dsgn-flex-grow, 1);
    flex-shrink: var(--wp-dsgn-flex-shrink, 1);
    align-self: var(--wp-dsgn-align-self, auto);
}
